.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  /* border: 1px solid black; */
}

.messageTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;
  /* border: 1px solid green; */
  align-items: center;
}

.userDetails {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* border: 1px solid red; */
  width: 50%;
}

.messageBottom {
  width: 30%;
  /* border: 10px solid orange; */
}

.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  padding-top: 10px;
}

.messageContent {
  max-width: 300px;
}

.messageText {
  padding: 10px;
  background-color: white;
  color: black;
  /* border: 1px solid blue; */
  margin-top: 0px;
  text-align: left;
  box-shadow: 0px 3px 10px rgba(0 0 0 / 0.2);
  border-radius: 2px;
}

.messageImage {
  width: 300px;
  height: 150px;
  object-fit: cover;
}

.messgeAudio {
  width: 300px;
  height: 50px;
}

.messageVideo {
  width: 300px;
  height: 150px;
}

.messageBottom {
  font-size: 12px;
}

.message.own {
  align-items: flex-end;
}

.message.own .messageText {
  background-color: #0ece81;
  /* color: black; */
}
