html{
    margin: 0;
    padding: 0;
    background-color: rgb(206, 106, 12);
    height: 100vh;

}


.landingPage{
    /* height: 100vh; */
}


.logo, .description, .briefInfo, .btns-container{
    margin-left: 15%;
}

.logo{
    margin-top: 50px;
    color: white;
}


.description{
  margin-top: 100px;
  font-size: 28px;
}

.briefInfo{
    margin-top: 50px;
    font-size: 30px;
    width: 1000px;
}

.btns-container{
    margin-top: 50px;
}

.signup, .login{
    padding: 15px 40px;
    border: none;
    border-radius: 10px;
    margin-right: 50px;
}

.regLink, .regLogin{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.regLink:hover, .regLogin: hover{
    
}
