.chatPage{
    height: calc(100vh - 70px);
    display: flex;

}


.chatRooms{
    flex: 2.5;
}

.chatBox{
    flex: 7.5;
}

.chatDetails{
    flex: 2.5;
}

.chatRoomsSearch{
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid grey;
}

.chatRoomsWrapper, .chatBoxWrapper, .chatDetailsWrapper{
    padding: 10px;
    height: 100%;
    background-color: white;
}