.chatPage {
  height: calc(100vh - 70px);
  display: flex;
  margin-bottom: 0px;
}

.chatRooms {
  flex: 2.5;
  height: inherit;
}

.chatBox {
  flex: 7.5;
  height: inherit;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.noMessages {
  position: absolute;
  font-size: 80px;
  top: 10%;
  /* text-align: center; */
  color: grey;
  font-weight: 400px;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
  height: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1125px) {
  .chatBoxBottom {
    flex-direction: column;
    height: 130px;
  }
}

.sendMediaForm {
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
}

.chatSubmitButton {
  width: 70px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.chatAttatchment {
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.chatDetails {
  flex: 2.5;
  height: inherit;
}

.chatRoomsSearch {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid grey;
}

.chatRoomsWrapper,
.chatBoxWrapper,
.chatDetailsWrapper {
  /* padding: 10px 10px 0px 10px; */
  height: 100%;
  background-color: white;
}

.chatDetailsWrapper {
  position: relative;
}

.noCurrentChat {
  position: absolute;
  top: 15%;
  font-size: 30px;
  color: grey;
  padding: 20px;
}

@media screen and (max-width: 907px) {
  .noMessages {
    font-size: 65px;
  }
}

@media screen and (max-width: 612px) {
  .noMessages {
    font-size: 55px;
  }
}

@media screen and (max-width: 780px) {
  .chatDetails {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .chatPage {
    flex-direction: column;
  }

  .chatRooms {
    width: 100%;
    margin: 0px auto;
  }

  .chatRoomsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .chatBoxWrapper {
    padding: 20px;
  }
}
